.book-card {
    padding: 1em;
    margin: 1em;
    width: 250px;
    height: 500px;
    background: white;
    color: black;
    cursor: pointer;
    text-align: center;

    .book-card-cover {
        width: 250px;
        height: 400px;
    }

    .book-card-info {
        display: flex;
        flex-direction: column;

        .book-card-name, .book-card-author {
            font-size: 1.1em;
        }
    }
}
